/**
importing the Marmelad font from GoogleFonts
 */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Marmelad&family=McLaren&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#board {
    /*
    set the background image
    */
    background-image: url("images/board-bg.png");
    background-size: cover; /* makes the image expand / shrink to cover the size of the element*/

    /*expand across the entire viewport*/
    height: 99vh;
    width: 100vw;
    padding: 0;

}


/*
STATUS BAR STYLING
*/

#status-bar {
    /*the same width as its parent element*/
    width: 100%;
    height: 10vw;

    background-image: url("images/state-panel-bg.png");
    background-size: cover;
}

/*
SECTION FOR THE SCORES FOR EACH BEING
*/


#status-bar-content {
    height: 60%; /* 60% percent should be good enough*/
    width: 100%;

    display: grid;

    /*need 5 columns: 1st: empty space to the left
       2nd : being count bar
       3rd : moves count bar
       4th : score count bar
       5: empty space to the right
     */
    grid-template-columns: 28% 18% 8% 19% 27%;
    grid-template-rows: 100%; /*a single row would suffice*/

    /*no need for gaps*/

    /*the items are not expect*/
    align-items: center;
    justify-content: center;
}

#status-bar-content > * {
    color: white;
    font-family: "Marmelad", cursive;
    text-align: center;
}

#being_count_bar {
    /*make sure to set the being_count_bar correctly*/
    grid-row: 1;
    grid-column: 2;

    display: flex;
    flex-direction: row;
    justify-content: stretch;

    /*border: solid 1px black;*/
}

.being_status_bar_img {
    max-width: 20%;
}

.being_count_div {
    /*setting the position to 'relative' to better control */
    position: relative;
    min-width: 5%;
}

.being_count {
    /*
    these two attributes help position the actual number relatively lower
    */
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 8rem;
}


#moves_count_bar {
    grid-column: 3;
    grid-row: 1;
    font-size: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#score_count_bar {
    grid-column: 4;
    grid-row: 1;

    /*set it a flexbox element*/

    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 6rem;
}

#score_count_bar > * {
    font-size: 10rem;
}

#map {
    height: 60vh;
    width: 60vh;

    /*this is equivalent to:
    margin-top: 3vh
    margin-right:auto
    margin-bottom:auto
    margin-left: auto

    setting auto for left / right centers the element horizontally
  */
    margin: 3vh auto auto auto;
}

.cell {
    border:solid rgb(103, 101, 168) 1px;
    background-color: rgb(103, 101, 168, 0.4);
}

img .being_cell_img{
    width: 80%;
    margin: 0 10% 0 10%;
}

/*
whenever a cursor moves along a cell, the background changes
*/
.cell:hover {
    background-image: url("cell-hover-bg.png");
    background-size: cover;
}

footer {
    /*
    */
    position: relative;
    bottom: 10%;

    width: 100%;
    height: 10vw;
}