body {
    margin:0;
    height:100vh;
}

nav {
    background-color: lightblue;

    height: max(2%, 2em); /*leav eenough */

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: left;
}


main {
    background-color: whitesmoke;
    height: 70%;
}
