Information_retrieval/Uni_course/*.txt
.idea
Information_retrieval/Uni_course/shard
*.zip
*.pickle
*.csv
/extra_env
*.gz
*.tsv
*.pkl
Information_retrieval/Uni_course/shard/
.vscode/
*.rnote
*.exe
*cmake-build-debug*
*env
*.pyc
web_dev\django\TutorialProject\db.sqlite3

web_dev\frontend\small_projects\newbie\personal_page\assets\fonts\

## ignore any file named as 'credentials.py' 
**app_credentials.py

full_stack_projects/MusicController/musicControllerBackend/google_api_credentials.json

golang/delve

