Information_retrieval/Uni_course/*.txt
.idea
Information_retrieval/Uni_course/shard
*.zip
*.pickle
*.csv
/extra_env
*.gz
*.tsv
*.pkl
Information_retrieval/Uni_course/shard/
.vscode/
*.rnote
*.exe
*cmake-build-debug*
*env
*.pyc
web_dev\django\TutorialProject\db.sqlite3

web_dev\frontend\small_projects\newbie\personal_page\assets\fonts\

## ignore any file named as 'credentials.py' 
**app_credentials.py

full_stack_projects/MusicController/musicControllerBackend/google_api_credentials.json

golang/delve

golang/_git_control/vcs/commits

backend_projects/QuizzEngine/Web Quiz Engine with Java/*
!backend_projects/QuizzEngine/Web Quiz Engine with Java/task

backend_projects/QuizzEngine/Web Quiz Engine with Java/task/*
!backend_projects/QuizzEngine/Web Quiz Engine with Java/task/src

backend_projects/QuizzEngine/util

backend_projects/QuizzEngine/.gradle/*
backend_projects/Web_Quiz_Engine/"Web Quiz Engine with Java"/task/build/*

*.yaml

*.db

backend_projects/Web_Quiz_Engine/util/build

backend_projects/Web_Quiz_Engine/Web Quiz Engine with Java/task/build/*

backend_projects/Account Service/Account Service (Java)/task/build/*

backend_projects/Account Service/.gradle/*

backend_projects/Account Service (Java)/.gradle/*

backend_projects/Account Service (Java)/Account Service (Java)/task/build/*
backend_projects/Car Sharing1/h2
backend_projects/Car Sharing1/gradle


**/build/*
**/bin/*
**/.gradle/*
**/out/*

backend_projects/Car Sharing/h2-2016-05-26/*

*node_modules*

*package.json*
*package-lock.json*


*.h.gch
*.out

*.jar

SpringAcademy/restaurant_reward_network/gradle/*

SpringAcademy/SpringBootEssentials/*

# Include rules from test_email project
backend_projects/test_email/HELP.md
backend_projects/test_email/.gradle
# build/ is already covered by **/build/* pattern
backend_projects/test_email/*.iws
backend_projects/test_email/*.iml
backend_projects/test_email/*.ipr
# out/ is already covered by **/out/* pattern
backend_projects/test_email/nbproject/private/
backend_projects/test_email/nbbuild/
backend_projects/test_email/dist/
backend_projects/test_email/nbdist/
backend_projects/test_email/.nb-gradle/
# .vscode/ is already covered

backend_projects/test_email/gradle/**

backend_projects/test_email/src/main/resources/application.properties
