body {
    /* background-color: white; */
    background-image: url('assets/images/background.jpg');
    background-size: cover;   
}

.container {
    position: absolute;
    border:1px solid black;

    background-color: black;
    top:10%;
    left:5%;
    
    width: 90%;
    height:80%;
    z-index:1;
}

.display {
    position: absolute; /* absolute with respect to the container class*/
    z-index:2; /* z-index to be displayed on top of th container*/
    left:40%;

    width:20%; /*seemed right with respect to the black container*/
    margin: 0;

    background-color: hsl(0, 0%, 20%); /*from the design readme*/
 
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
}

.info {
    top:10%;
    height: 30%;
}

.info * {
    width: 90%;
    border: 1px solid brown ;
}

.info img {
    margin-top:10px;
    flex: 2;

    height:10px;
    width: 40%;
    min-width: 100px;
}

.info p, .info pre{
    color:white;
    text-align: center;
}

.links {
    height:40%;
    top:40%;
}


.links * {
    width: 80%;
    min-height: 40px;
}

.links *:nth-last-of-type() {
    margin-bottom: 20px;
}

