<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
        
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <nav>
        <a href=''> HOME </a>
        <a href=""> Log In</a>
    </nav>
    
    <main>
        <article>

            <div class="task_group">
                <h2 class="task_group_name">
                    g1
                </h2>  

                <div class="task">
                    <h3 class="task_name">
                        Task name
                    </h3>

                    <p class="task_description">
                        Well there was this task where I had to do stuff and honestly I am no t sure I want to do it but fuck it I have to do it cause otherwise shit will happen and I don't want shit to happend and skfvoapdfjoaksfvp[aodsv ]
                    </p>
                </div>
                <div class="task">
                    <h3 class="task_name">
                        Task name
                    </h3>

                    <p class="task_description">
                        Well there was this task where I had to do stuff and honestly I am no t sure I want to do it but fuck it I have to do it cause otherwise shit will happen and I don't want shit to happend and skfvoapdfjoaksfvp[aodsv ]
                    </p>
                </div>
                <div class="task">
                    <h3 class="task_name">
                        Task name
                    </h3>

                    <p class="task_description">
                        Well there was this task where I had to do stuff and honestly I am no t sure I want to do it but fuck it I have to do it cause otherwise shit will happen and I don't want shit to happend and skfvoapdfjoaksfvp[aodsv ]
                    </p>
                </div>
                <div class="task">
                    <h3 class="task_name">
                        Task name
                    </h3>

                    <p class="task_description">
                        Well there was this task where I had to do stuff and honestly I am no t sure I want to do it but fuck it I have to do it cause otherwise shit will happen and I don't want shit to happend and skfvoapdfjoaksfvp[aodsv ]
                    </p>
                </div>

            </div>

            <div class="task_group">
                <h2 class="task_group_name">
                    g1
                </h2>  

                <div class="task">
                    <h3 class="task_name">
                        Task name
                    </h3>

                    <p class="task_description">
                        Well there was this task where I had to do stuff and honestly I am no t sure I want to do it but fuck it I have to do it cause otherwise shit will happen and I don't want shit to happend and skfvoapdfjoaksfvp[aodsv ]
                    </p>
                </div>

                <div class="task">
                    <p>
                        Some task description
                    </p>
                </div>

                <div class="task">
                    <p>
                        Some task description
                    </p>
                </div>
            </div>


            <div class="task_group">
                <h2 class="task_group_name">
                    g1
                </h2>  

                <div class="task">
                    <h3 class="task_name">
                        Task name
                    </h3>

                    <p class="task_description">
                        Well there was this task where I had to do stuff and honestly I am no t sure I want to do it but fuck it I have to do it cause otherwise shit will happen and I don't want shit to happend and skfvoapdfjoaksfvp[aodsv ]
                    </p>
                </div>

                <div class="task">
                    <p>
                        Some task description
                    </p>
                </div>

                <div class="task">
                    <p>
                        Some task description
                    </p>
                </div>
            </div>

        </article>
    </main>
</body>
</html>
