{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
        
    <!-- according to: https://www.scaler.com/topics/add-css-file-to-django/-->
    <link rel="stylesheet" href="{% static 'home_style.css' %}">      
</head>

<body>
    <nav>
        <a href={{home_link}}> HOME </a>
        <a href={{login_link}}> Log In</a>
    </nav> 

    <main>
        <article>
            {% block content %}
            {% endblock %}        
        </article>
    </main>
    
    {%block js_script%}
    
    {%endblock%}

</body>
</html>
