{% extends "generic.html" %}

{% block content %}

            <form class="login_form">
                <label for="password"> username </label>
                <input type="input" id="username_input" name="username"/>
            
                <label for="password"> password </label>
                <input type="password" id="pwd" name="pwd"/>
            
                <label submit> </label>
                <input type="submit" id="submit" name="submission"/>
            </form>
            

{% endblock %}

{% block js_script %}

{% load static %}
    <script src="{% static 'login_script.js' %}"> </script>

{% endblock %}


