{% extends "generic.html" %}

{% block content %}

    {% if groups %}

        {% for task_group in groups %}

            <div class="task_group">
                <h2 class="task_group_name">
                    {{task_group.name}}
                </h2>  
                
                {% for t in task_group.tasks %}
                    <div class="task">

                        <h3 class="task_name">
                            {{t.name}}
                        </h3>

                        <br>

                        <span> 
                            {{t.status}}
                        </span>
                        
                        <span>
                            {{t.importance}}
                        </span>

                        <br>

                        <p class="task_description">
                            {{t.description}}
                        </p>
                    </div>
                {% endfor %}

            </div>

        {% endfor %}


    {%else%}
        <div class="task_group">
            <p>
                No tasks yet !!! You must be chilling !!!
            </p> 
        </div>

    {%endif%}

{% endblock %}
