{% extends "generic.html" %}

{% block content %}

    {% for task_group in task_groups %}

        <h2 class="task_group_name">
            {{task_group.name}}
        </h2>  
        
        {% comment %}
        <!-- {% for t in task_group_tasks %}

            <h3 class="task_name">
                {{t.name}}
            </h3>

            <br>

            <span> 
                {{t.status}}
            </span>
            
            <span>
                {{t.importance}}
            </span>

            <br>

            <p class="task_description">
                {{t.description}}
            </p>

        {% endfor %} -->
        {%endcomment%}
        
    {% endfor %}

{% endblock %}
