<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>
        <article>
            <section>
                <p>
                    This template was created to test the templateView generic view
                </p>
            </section>

            <section>
                <p>
                    {{first_name}}, {{last_name}}
                </p>

            </section>
        </article>

    </main>

</body>
</html>
