h1 a{
    color: pink;
    text-decoration: none; /*used to remove the underline from the link on h1*/
    font-family:cursive;
    font-style: italic;

}

hr {
    color: white; 
    border-top: dotted 10px;
    border-color: purple;
    margin:0%
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    
    color: gray;
    background-color: whitesmoke;

    display: inline;
    margin-top: 100px;
}

.some_text {
    color: blue;
    background-color: whitesmoke;
}

.contact_info {
    background-color: gainsboro;
    border-color: purple;
    border-style: solid;
    padding:5px;
}

