body {
    background-color: hsl(212, 45%, 89%);
}


.qr_container { 
    position:fixed;    
    background-color: white;
    border: 1px solid white;
    border-radius: 3%;

    top:max(25%, 25px); /* I do not have a clear rational behind the exact value*/

    /*the distribution 40 20 40 seemed aesthetically appealing to me */
    left:40%; 
    width: 20%;
}


.qr_container * {
    width:90%;
    margin:5%;    
    border-radius: 3%;
    /* border: 1px solid black; */
}


.qr_container p {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-family: 'Crimson Pro', serif;
}


.qr_container .p1 {
    font-size: 15px;
    font-weight: 700;
}

.qr_container .p2 {
    font-size: 12px;
    font-weight: 4000;
    margin-bottom: 20px;
}
