h1 {color: rebeccapurple; text-align: center;}
h2 {color: blue; text-align: center}
h3 {color: greenyellow}
p {border: 5px solid; margin: 50px;background-color: whitesmoke;}
button {color: blue; text-decoration: dashed;}
table {background-color: whitesmoke; border: 5px; margin: auto;}
