/*
limited-
*/



p {
    margin: auto;
    color: blue;
}

span {
    color:aliceblue;
    font-family: 'Lucida Sans';
    font-style: italic ;
}

.block_lim_width {
    background-color: burlywood;
    max-width: 400px;
    margin:auto
}




