/*
limited-
*/

p {
    margin: auto;
    color: blue;
}

span {
    color:aliceblue;
    font-family: 'Lucida Sans';
    font-style: italic ;
}

.block_lim_width {
    background-color: burlywood;
    max-width: 400px;
    margin:auto
}

.div_with_dd .dd_content { /* basically this selector means any element with class 'dd_content' that inside a 'div_with_dd' content*/
    display: none; /*this means the element is initially hidden*/
    color: palevioletred;
    background-color: whitesmoke;
}

/*we need to change the display of the hidden element with a certain condition*/

.button_with_dd:hover+.dd_content {
    display: inline;
}





