<!DOCTYPE html>

<html> 
    <head>
        <link rel="stylesheet" href="style.css"/> 
    </head>

    <body>  

        <h1 id="main_header">  
            Your gate to a different food experience
        </h1>

        If food were an art, then our chefs would definitely be artists ? Well our art is from people to people and all about people (we really like the word <em> <i>people</i> </em>)
        let us take 5 seconds of your time and show off our food (sorry meant masterpieces)
        <ul>
            <!-- <li class="list_point">Couscous</li><img src="coscous.jpg" alt="falafel" height="150" width="250" />
            <li class="list_point">Falafel</li> <img  src="falafel.jpg" alt="falafel" height="150" width="250" /> -->
            <li>some other dish</li> Man, you and your visuals, here is <a href="hypter_text_index.html" >a link for you </a>        
        </ul>
        <h2 id="pricing_header">Pricing</h2>
        <p> friendly prices for appreciating our art</p>
        <table>
            <th>
            <tr>
                <th>Dish</th>
                <th colspan="3">tarif</th>
            </tr>
            </th>
            <tbody>
            <tr>
                <td>falafel</td>
                <td>700</td>
            </tr>
            <tr>
                <td>coscous</td>
                <td>850</td>
            </tr>
            </tbody>
        </table>
    </body>

</html>


