.header_section {
    /*we need at the top of the viewport at all times*/
    position: fixed;
    top:0px;
    margin-top:0px;
    width: 98%;

    background-color: black;
    border:1px solid black;

    display:grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap:10px;
}

.header_section p {
    color: white;
}


.header_section a {
    color: white;
}

.help_section {
    margin-top:50px; /*to seperate it from the fixed positioned header section*/
    background-color: #dadbf1;
    min-height: 200px;
}

.help_section h1 {
    color: red;
    margin-top: 60xpx;
}
